.pagination-container {
    display: flex;
    gap: 8px;
    padding-bottom: 10px;
  }
  
  .page-button {
    background-color: #D8D7D2;
    border: none;
    padding: 6px 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .page-button.active {
    background-color: #F35F6A;
    color: white;
  }
  
  .page-button.next {
    background-color: #232A32;
    color: #D8D7D2;
  }
  